html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0
}

body {
    height: 100%;
    width: 100%;
    margin: auto;
    font-family: Calibri, sans-serif;
    font-weight: bold;
    color: rgb(0, 40, 76);
}

a {
    text-decoration: none;
}

.page-border {
    margin: 0 auto 1em auto;
    width: 70%;
}

/*------------------------------------- Header ------------------------------------*/

header {
    margin-bottom: 3.5em;
    position: sticky;
    top: 0;
    font-size: 1.3rem;
    width: 100%;
    box-shadow:  0 -15px 50px 90px rgba(255, 255, 255, 1);
    z-index: 2;
}

.header-box {
    background-color: white;
    padding-top: 2em;
    display: flex;
    justify-content: space-around;
}

.header-logo {
    max-width: 250px;
    margin-right: 20%;
}

.header-nav {
    margin: auto;
    width: 100%;
    height: fit-content;
    text-decoration: none;
}

.nav-bar {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-bar li a {
    text-decoration: none;
    color: rgb(0, 40, 76);
}

/*------------------------------------- Login ------------------------------------*/

main {
    margin-top: 3.5em;
}

/*------------------------------------- Login ------------------------------------*/

.loginPannel {
    height: 100%;
    width: 100%;
    display: flex;
}

.loginBackground {
    margin: auto;
    width: 100%;
    height: 100%;
    background-image: url("../pics/trasis_login_picture.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.loginFormLogo {
    max-width: 150px;
    height: auto;
}

.formBox {
    width: 50em;
    margin: auto;
    padding: 0 50px;
    text-align: center;
}

.formBox form {
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.formBox form input, .submit {
    background-color: rgb(224, 224, 224);
    margin-top: 1.25rem;
    color: rgb(0, 40, 76);
    border-radius: 1.5rem;
    text-align: center;
    font-size: 1.2em;
    outline: none;
    height: 2.5rem;
    border: 0.0625em transparent solid
}

.formBox form .submit {
    background-color: rgb(252, 176, 64);
    margin-top: 0;
    margin-bottom: 1.25rem;
    color: white;
}

.forgot {
    background-color: transparent;
    color: rgb(0, 40, 76);
    text-align: center;
    outline: none;
    border: 0 transparent solid
}

/*------------------------------------- Home ------------------------------------*/

.hover {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 45%;
    left: 25%;
    font-size: 3em;
    font-family: "Brandon Grotesque Regular", sans-serif;
    letter-spacing : 1rem;
    color: white;
    z-index: 1;
}

.hover span {
    color: rgb(252, 176, 64);
}

.home-pic {
    width: 100%;
}

.home-pic img {
    width: 100%;
    border-radius: 3em;
}

/*------------------------------------- Footer ------------------------------------*/

footer {
    font-family: "Brandon Grotesque Regular", sans-serif;
    width: 100%;
    text-align: center;
}

.foot-section {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.3rem;
}

.contact a {
    color : rgb(34, 84, 121)
}

.footer-nav ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
}

.credits {
    margin-top: 50px;
    font-size: 0.8rem;
}

a:hover {
    color: rgb(252, 176, 64);
}

/*------------------------------------- Training ------------------------------------*/

.push_top{
    margin-top: 100px;
}
.centered_titles{
    text-align: center;
}
.trainings_form{
    display:flex;
    margin-top: 2em;
    justify-content: center;
    align-items: center;
}
.trainings_form section{
    display:flex;
    width: 60em;
    flex-wrap:wrap;
    justify-content: space-evenly;

}
.trainings_form>section>article{
    /* border: 3px solid #ff6550;*/
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.29);
    border-radius: 0.5em;
    width: 16em;
    height: 14em;
    margin-bottom: 30px;
}
.trainings_form>section>article>img{
    margin-top:0;
    width:100%;
    height: 60%;
    border-radius: 0.3em 0.3em 0 0;
}
.trainings_form>section>article>h3{
    margin-top:0;

}